1) What are data structures, and why are they important?

Ans – Data structure is a way of organizing and storing data so that it can be accessed and manipulate efficiently.
String, List, Tuple, Set, Dictionary and Array are data structures.

2) Explain the difference between mutable and immutable data types with examples.

Ans – Mutable data types is a data type whose value can be change after the creation. Examples of Mutable data types are List, Dictionary and Set.
Immutable data types is a data type whose value can’t be change after the creation. Examples of Immutable data types are String and Tuple.

3)What are the main differences between lists and tuples in Python?

Ans – Lists are mutable in nature and syntax is [ ] however, tuples are immutable and syntax is ().

4) Describe how dictionaries store data?

Ans – This data type store the data having key and value. Each key have their value. For example – dict = {“name”: “Sunny”, “Age”: 24}

5) Why might you use a set instead of a list in Python?

Ans – We will use set instead of a list if we don’t want to store duplicate values. Sets automatically store only unique elements.

6) What is a string in Python, and how is it different from a list?

Ans - A string is a sequence of characters used to represent text. It is different from list because list can contain all type of data under () however, string represent only text under ‘ ‘ or “ “.

7) How do tuples ensure data integrity in Python?

Ans – Tuples are immutable in nature and once the data is created, it can’t be changed.

8) What is a hash table, and how does it relate to dictionaries in Python?

Ans - A hash table is a data structure that stores key-value pairs using a hash function to compute an index for quick data access. In Python, dictionaries are implemented using hash tables, allowing fast lookup, insertion, and deletion of items by keys.

9) Can lists contain different data types in Python?

Ans – Yes, lists can contain different data types.

10) Explain why strings are immutable in Python?
\
Ans – In python, strings are immutable because once a string is created in memory, it content cannot be changed.

11) What advantages do dictionaries offer over lists for certain tasks?

Ans – Dictionaries are better than lists when we need: fast lookups by key, clear key-value mapping for readability, no index tracking – access data directly by name.

12)Describe a scenario where using a tuple would be preferable over a list?

Ans – As we know tuple are immutable and list are mutable. So, we always tuple when we don’t have change the data in future. For example, if we have to store a person identity details, we have to use tuple as this is a data which can’t be change however, if we will use list, anyone can make the changes.

13)How do sets handle duplicate values in Python?

Ans – Sets automatically remove duplicate values and only store unique elements.

14)How does the “in” keyword work differently for lists and dictionaries?

Ans – List – “in” checks if a value exists among the list’s elements. Dictionaries – “in” checks if a key exists, not a value.

15) Can you modify the elements of a tuple? Explain why or why not?

Ans – No, we cannot modify tuple elements because tuples are immutable.

16) What is a nested dictionary, and give an example of its use case?

Ans - A nested dictionary is a dictionary where the values themselves are dictionaries. It allows you to organize complex data hierarchically.
students = {"Alice": {"age": 20, "grades": {"math": 90, "science": 85}}, "Bob": {"age": 22, "grades": {"math": 75, "science": 80}}}
Here, students is a nested dictionary with student names as keys and their info as nested dictionaries.

17)Describe the time complexity of accessing elements in a dictionary?\

Ans - Accessing elements in a dictionary has an average time complexity of O(1) (constant time) because dictionaries use a hash table for lookups. However, in the worst case (e.g., many hash collisions), it can degrade to O(n).

18) In what situations are lists preferred over dictionaries?

Ans - Lists are preferred over dictionaries when we need ordered, index-based access to homogeneous data or simple sequences.

19) Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans - Dictionaries are considered unordered because they store items by key-hash rather than position, so data retrieval is fast by key but does not maintain any order.

20) Explain the difference between a list and a dictionary in terms of data retrieval.

Ans - Lists retrieve data by index, while dictionaries retrieve data by key but without order

# Practical Questions

In [1]:
# 1. Write a code to create a string with your name and print it.

name = "Sunny"
print(name)

Sunny

In [2]:
# 2. Write a code to find the length of the string "Hello World".

string = "Hello World"
print(len(string))

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

s = "Python Programming"
print(s[:3])

Pyt

In [4]:
# 4. Write a code to convert the string "hello" to uppercase.

s = "hello"
print(s.upper())

HELLO

In [7]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

s = "I like apple"
print(s.replace("apple","orange"))

I like orange

In [8]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.

list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [10]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [11]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

l = [1, 2, 3, 4, 5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [12]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

l = ['a', 'b', 'c', 'd']
print(l[1])

b

In [13]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

l = [10, 20, 30, 40, 50]
print(l[::-1])

[50, 40, 30, 20, 10]

In [14]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

t = (100, 200, 300)
print(t)

(100, 200, 300)

In [15]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

In [16]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

t = (10, 20, 5, 15)
min_number = min(t)
print(min_number)

5

In [19]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

t = ('dog', 'cat', 'rabbit')
print(t.index("cat"))

1

In [22]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruit = ("apple", "orange", "kiwi")
if "kiwi" in fruit:
  print("kiwi is in tuple")
else:
  print("kiwi is not in tuple")

kiwi is in tuple

In [25]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set = {'a', 'b', 'c'}
print(set)

{'b', 'a', 'c'}

In [28]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [2]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [4]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [5]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

In [6]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict = {"name": "Sunny", "age": 24, "city": "Bangalore"}
print(dict)

{'name': 'Sunny', 'age': 24, 'city': 'Bangalore'}

In [8]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict = {'name': 'John', 'age': 25}
dict["address"] = "USA"
print(dict)

{'name': 'John', 'age': 25, 'address': 'USA'}

In [17]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict = {'name': 'Alice', 'age': 30}
print(dict['name'])

Alice

In [23]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

#or

d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

In [26]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

d = {'name': 'Alice', 'city': 'Paris'}

if 'city' in d:
  print("Key 'city' exists in dictionary")
else:
  print("doesnot exist")

Key 'city' exists in dictionary

In [27]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 5.4, "Sunny"]
my_tuple = (1, 2, 4, "Sunny")
my_dict = {"name": "Sunny", "age": "23", "city": "Bangalore"}

print("List: ", my_list)
print("Tuple: ", my_tuple)
print("Dictionary: ", my_dict)

List:  [1, 2, 5.4, 'Sunny']
Tuple:  (1, 2, 4, 'Sunny')
Dictionary:  {'name': 'Sunny', 'age': '23', 'city': 'Bangalore'}

In [39]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

num = []
for i in range(0, 101):
  num.append(i)
print(num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [42]:
#28. Write a code to create a list with strings and print the element at the third index.

list = ("Sunny", "Vijay", "Bangalore", "PWskills", "Data")
print(list[3])

PWskills

In [44]:
# 29. Write a code to combine two dictionaries into one and print the result.

d1 = {"name": "Sunny", "age": 24, "city": "Bangalore"}
d2 = {"course": "Data analytics", "collge": "pwskills"}

combined_d = d1 | d2
print(combined_d)

{'name': 'Sunny', 'age': 24, 'city': 'Bangalore', 'course': 'Data analytics', 'collge': 'pwskills'}

In [ ]:
# 30. Write a code to convert a list of strings into a set.

fruits = ("mango", "banana", "apples", "mango", "orange", "banana")
fruits_s = set(fruits)
print(fruits_s)